/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {

  --main-bg-color: hsla(222, 26%, 31%, 1);
  --main-tx-color: hsla(0, 0%, 100%, 1);
  --main-eq-bg-color: hsla(6, 63%, 50%, 1);
  --main-reset-bg-color: hsla(225, 21%, 49%, 1);
  --main-btn-tx-color: hsla(221, 14%, 31%, 1);
  --main-btn-bg-color: hsla(31, 24%, 89%, 1);
  --main-radio-bg-color: hsla(223, 31%, 20%, 1);
  --main-display-bg-color: hsla(224, 36%, 15%, 1);
  --main-grid-bg-color: hsla(224, 30%, 21%, 1);
  --main-box-shadow: 0px 4px 0px 0px hsla(27, 15%, 65%, 1);
  --main-del-box-shadow: 0px 4px 0px 0px hsla(224, 28%, 35%, 1);
  --main-eq-box-shadow: 0px 4px 0px 0px hsla(6, 70%, 34%, 1);

  --secondary-bg-color: hsla(0, 0%, 90%, 1);
  --secondary-tx-color: hsla(60, 10%, 19%, 1);
  --secondary-eq-bg-color: hsla(25, 98%, 40%, 1);
  --secondary-reset-bg-color: hsla(184, 42%, 37%, 1);
  --secondary-btn-bg-color: hsla(45, 7%, 89%, 1);
  --secondary-btn-tx-color: hsla(60, 10%, 19%, 1);
  --secondary-display-bg-color: hsla(0, 0%, 93%, 1);
  --secondary-grid-bg-color: hsla(0, 5%, 81%, 1);
  --secondary-box-shadow: 0px 4px 0px 0px hsla(35, 11%, 61%, 1);
  --secondary-del-box-shadow: 0px 4px 0px 0px hsla(185, 58%, 25%, 1);
  --secondary-eq-box-shadow: 0px 4px 0px 0px hsla(25, 99%, 27%, 1);

  --tertiary-bg-color: hsla(268, 75%, 9%, 1);
  --tertiary-tx-color: hsla(52, 100%, 62%, 1);
  --tertiary-eq-bg-color: hsla(176, 100%, 44%, 1);
  --tertiary-eq-tx-color: hsla(198, 20%, 13%, 1);
  --tertiary-reset-bg-color: hsla(281, 89%, 26%, 1);
  --tertiary-btn-bg-color: hsla(268, 47%, 21%, 1);
  --tertiary-btn-tx-color: hsla(52, 100%, 62%, 1);
  --tertiary-display-bg-color: hsla(268, 71%, 12%, 1);
  /*  --tertiary-grid-bg-color: hsla(268, 71%, 12%, 1); */
  --tertiary-box-shadow: 0px 4px 0px 0px hsla(290, 70%, 36%, 1);
  --tertiary-del-box-shadow: 0px 4px 0px 0px hsla(285, 91%, 52%, 1);
  --tertiary-eq-box-shadow: 0px 4px 0px 0px hsla(177, 92%, 70%, 1);


}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}

.app {
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  max-width: 33.75rem;
}

.border-radius {
  border-radius: 10px;
}

/**************************************/
/*************DEFAULT COLORS***********/
/**************************************/
.main-colors {
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}

.main-colors.display {
  background-color: var(--main-display-bg-color);
}

.main-colors.grid {
  background-color: var(--main-grid-bg-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-control {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: 1.5rem;
  border: none;
  padding-inline: 0;
}

.theme-control::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 25px;
  background: var(--main-radio-bg-color);
  z-index: -1;
  bottom: 8%;
  left: 33%;
  border-radius: 20px;
}

.theme {
  display: flex;
  flex-direction: column-reverse;
  gap: .6rem;
}

.theme-header {
  text-transform: uppercase;
}

legend {
  display: contents;
  font-weight: 700;
  font-size: 0.75rem
}

.label {
  font-weight: 700;
  font-size: 0.75rem
}

input[type="radio"] {
  opacity: 0;
  appearance: none;
  width: 1em;
  height: 1em;
  background: var(--main-eq-bg-color);
  border-radius: 50%;
}

input[type="radio"]:checked {
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1.5rem;
}

.btn {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  padding-block: .9rem;
  border: none;
  background-color: var(--main-btn-bg-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 5px;
  z-index: 20;
  position: relative;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.btn:nth-child(4),
.btn:nth-child(17) {
  background-color: var(--main-reset-bg-color);
  color: var(--main-tx-color);
  box-shadow: var(--main-del-box-shadow);
}

.btn:last-child {
  background-color: var(--main-eq-bg-color);
  color: var(--main-tx-color);
  box-shadow: var(--main-eq-box-shadow);
}

.double-size:nth-child(odd) {
  grid-area: 5/1/5/3;
}

.double-size:last-child {
  grid-area: 5/3/5/5;
}

.display {
  padding: 1.5rem;
  text-align: right;
  margin-block: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.previousOperand {
  font-size: .75rem;
  font-weight: 500;
  min-height: 1rem;
}

/**************************************/
/***********SECONDARY COLORS***********/
/**************************************/
.secondary-colors {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-tx-color);
}

.secondary-colors .theme-control::before {
  background-color: var(--secondary-grid-bg-color);
}

.secondary-colors input[type="radio"] {
  background-color: var(--secondary-eq-bg-color);
}

.secondary-colors.display {
  background-color: var(--secondary-display-bg-color);
  color: var(--secondary-tx-color);
}

.secondary-colors.grid {
  background-color: var(--secondary-grid-bg-color);
  color: var(--secondary-tx-color);
}

.secondary-colors .btn {
  background-color: var(--secondary-btn-bg-color);
  color: var(--secondary-tx-color);
}

.secondary-colors .btn:nth-child(4),
.secondary-colors .btn:nth-child(17) {
  background-color: var(--secondary-reset-bg-color);
  color: var(--main-tx-color);
  box-shadow: var(--secondary-del-box-shadow);
}

.secondary-colors .btn:last-child {
  background-color: var(--secondary-eq-bg-color);
  box-shadow: var(--secondary-eq-box-shadow);
  color: var(--main-tx-color);
}

/**************************************/
/*************TERTIARY COLORS***********/
/**************************************/
.tertiary-colors {
  background-color: var(--tertiary-bg-color);
  color: var(--tertiary-tx-color);
}

.tertiary-colors .theme-control::before {
  background-color: var(--tertiary-display-bg-color);
}

.tertiary-colors.display,
.tertiary-colors.grid {
  background-color: var(--tertiary-display-bg-color);
  color: var(--tertiary-tx-color)
}

.tertiary-colors input[type="radio"] {
  background-color: var(--tertiary-eq-bg-color);
}

.tertiary-colors .btn {
  background-color: var(--tertiary-btn-bg-color);
  color: var(--tertiary-btn-tx-color);
  box-shadow: var(--tertiary-box-shadow);
}

.tertiary-colors .btn:nth-child(4),
.tertiary-colors .btn:nth-child(17) {
  background-color: var(--tertiary-reset-bg-color);
  color: var(--main-tx-color);
  box-shadow: var(--tertiary-del-box-shadow);
}

.tertiary-colors .btn:last-child {
  background-color: var(--tertiary-eq-bg-color);
  box-shadow: var(--tertiary-eq-box-shadow);
  color: var(--tertiary-eq-tx-color);
}